<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Rafael Moreira</h5>
        <!--<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>-->
      </div>
      <div class="col l4 offset-l2 s12">
        <!--<h5 class="white-text">Links</h5>-->
        <ul>
          <li class="rodape__item">
            <a class="rodape__link" href="https://br.linkedin.com/in/rafael-moreira-gomes" target="_blank">
                <i class="fab fa-linkedin rodape__icone"></i>
            </a>
        </li>
        <li class="rodape__item">
            <a class="rodape__link" href="https://github.com/moreira89" target="_blank">
                <i class="fab fa-github rodape__icone"></i>
            </a>
        </li>
        <li class="rodape__item">
            <a class="rodape__link" href="https://www.instagram.com/rafael_moreira_89/" target="_blank">
                <i class="fab fa-instagram rodape__icone"></i>
            </a>
        </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © {{this.year}} Copyright
    <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    </div>
  </div>
</footer>
