<footer class="rodape">
  <nav class="container">
    <div class="rodape">
        <p class="rodape__texto">Rafael Moreira</p>
        <ul class="rodape__lista">
            <li class="rodape__item">
                <a class="rodape__link" href="https://br.linkedin.com/in/rafael-moreira-gomes" target="_blank">
                    <i class="fab fa-linkedin rodape__icone"></i>
                </a>
            </li>
            <li class="rodape__item">
                <a class="rodape__link" href="https://github.com/moreira89" target="_blank">
                    <i class="fab fa-github rodape__icone"></i>
                </a>
            </li>
            <li class="rodape__item">
                <a class="rodape__link" href="https://www.instagram.com/rafael_moreira_89/" target="_blank">
                    <i class="fab fa-instagram rodape__icone"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</footer>
