  <nav class='container'>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img [src]="url" [alt]="titlePic" [ngStyle]="{'background-color':'green', 'height': '60px', 'width':'60px'}">SK</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="veiculos">Veículos</a></li>
        <!--<li><a routerLink="abastecimentos">Abastecimentos</a></li>-->
        <li><a routerLink="sobre">Sobre</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="veiculos">Veículos</a></li>
    <!--<li><a routerLink="abastecimentos">Abastecimentos</a></li>-->
    <li><a routerLink="sobre">Sobre</a></li>
  </ul>
