<div class="container">
<form [formGroup]='formVeiculo' (ngSubmit)='onSubmit()' method='post'>

  <div>
    <label for='marca'>Marca</label>
    <input type="text" name='marca' formControlName='marca' class='validate' pattern="^([A-Z|À-Ú])+(\s{0,1}[A-Z|À-Ú|a-z|à-ú|0-9]*){0,}" placeholder='Marca do Veículo' required/>
    <div *ngIf='formControls["marca"].touched && formControls["marca"].errors'>
      <div *ngIf='formControls["marca"].errors["required"]' data-error="wrong" data-success="right">Obrigatório o preenchimento da marca do veículo</div>
    </div>
  </div>

  <div>
    <label for='modelo'>Modelo</label>
    <input type="text" name='modelo' formControlName='modelo' class='validate' pattern="^([A-Z|À-Ú])+(\s{0,1}[A-Z|À-Ú|a-z|à-ú|0-9]*){0,}" placeholder='Modelo do Veículo'  required/>
    <div *ngIf='formControls["modelo"].touched && formControls["modelo"].errors'>
      <div *ngIf='formControls["modelo"].errors["required"]' data-error="wrong" data-success="right">Obrigatório o preenchimento do modelo do veículo</div>
    </div>
  </div>

  <div>
    <label for='anoModelo'>Ano do Modelo</label>
    <input type="number" min="1900" name='anoModelo' formControlName="anoModelo" class='validate' placeholder='Ano do Modelo do Veículo' required/>
    <div *ngIf='formControls["anoModelo"].touched && formControls["anoModelo"].errors'>
      <div *ngIf='formControls["anoModelo"].errors["required"]'>Obrigatório o preenchimento do ano do modelo do veículo</div>
    </div>
  </div>

  <div>
    <label for='anoFabricacao'>Ano de Fabricação</label>
    <input type="number" min="1900" name='anoFabricacao' formControlName="anoFabricacao" class='validate' placeholder='Ano da Fabricação do Veículo' required/>
    <div *ngIf='formControls["anoFabricacao"].touched && formControls["anoFabricacao"].errors'>
      <div *ngIf='formControls["anoFabricacao"].errors["required"]'>Obrigatório o preenchimento do ano da dabricação do veículo</div>
    </div>
  </div>

  <div>
    <label for='odometro'>Odômetro</label>
    <input type="number" name='odometro' formControlName="odometro" class='validate' placeholder='Odômetro do Veículo' required/>
    <div *ngIf='formControls["odometro"].touched && formControls["odometro"].errors'>
      <div *ngIf='formControls["odometro"].errors["required"]'>Obrigatório o preenchimento do odômetro do veículo</div>
    </div>
  </div>

  <div>
    <label for='litrosTanque'>Capacidade em Litros do Tanque</label>
    <input type="number" name='litrosTanque' formControlName='litrosTanque' id='litrosTanque' class='validate' placeholder='Capacidade (em litros) do Tanque de Combustível do Veículo' required/>
    <div *ngIf='formControls["litrosTanque"].touched && formControls["litrosTanque"].errors'>
      <div *ngIf='formControls["litrosTanque"].errors["required"]'>Obrigatório o preenchimento da capacidade em litros do tanque de combustível do veículo</div>
    </div>
  </div>

  <!--<<div class='input-field'>
    <label for='combustivel'>Combustível</label>
    <ng-select [items]="combustiveis" formControlName='combustivel'></ng-select>
    <div *ngIf='formControls["combustivel"].touched && formControls["combustivel"].errors' class='validate'>
      <div *ngIf='formControls["combustivel"].errors["required"]'>Obrigatório o preenchimento do combustível do veículo</div>
    </div>
  </div>-->

  <div>
    <label for='combustivel'>Combustível</label>
    <input type="text" name='combustivel' formControlName='combustivel' id='combustivel' class='validate' placeholder='Combustível' required/>
    <div *ngIf='formControls["combustivel"].touched && formControls["combustivel"].errors'>
      <div *ngIf='formControls["combustivel"].errors["required"]'>Obrigatório o preenchimento do combustível do veículo</div>
    </div>
  </div>

  <div>
    <label for='cambio'>Câmbio</label>
    <input type="text" name='cambio' formControlName='cambio' id='cambio' class='validate' placeholder='Câmbio do Veículo' required/>
    <div *ngIf='formControls["cambio"].touched && formControls["cambio"].errors'>
      <div *ngIf='formControls["cambio"].errors["required"]'>Obrigatório o preenchimento do câmbio do veículo</div>
    </div>
  </div>

  <!--<<div class='input-field'>
    <label for='cambio'>Câmbio</label>
    <ng-select [items]="cambios" formControlName='cambio'></ng-select>
    <div *ngIf='formControls["cambio"].touched && formControls["cambio"].errors' class='validate'>
      <div *ngIf='formControls["cambio"].errors["required"]'>Obrigatório o preenchimento do câmbio do veículo</div>
    </div>
  </div>-->

  <div>
    <input type="submit" [disabled]="!formVeiculo.valid" class="btn btn-primary" value="Salvar">
  </div>

</form>



</div>
