<h1>Veiculos</h1>

<table>
  <caption>Lista de Veiculos</caption>
  <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">AnoFabricacao</th>
          <th scope="col">anoModelo</th>
          <th scope="col">Combustivel</th>
          <th scope="col">Cambio</th>
          <th scope="col">Odometro</th>
          <th scope="col">LitrosTanque</th>
          <th scope="col">Abastecer</th>
          <th scope="col">Editar</th>
      </tr>
  </thead>
        <tbody>
          <tr *ngFor='let veiculo of veiculos'>
            <th scope="row">{{veiculo.id}}</th>
            <th scope="row">{{veiculo.marca}}</th>
            <th scope="row">{{veiculo.modelo}}</th>
            <th scope="row">{{veiculo.anoFabricacao}}</th>
            <th scope="row">{{veiculo.anoModelo}}</th>
            <th scope="row">{{veiculo.combustivel}}</th>
            <th scope="row">{{veiculo.cambio}}</th>
            <th scope="row">{{veiculo.odometro}}</th>
            <th scope="row">{{veiculo.litrosTanque}}</th>
            <th scope="row"><a routerLink='/veiculo/{{veiculo.id}}/abastecimentos'>Abastecer</a></th>
            <th scope="row"><a routerLink='/veiculo/cadastrar/{{veiculo.id}}'>Edit</a></th>
          </tr>
        </tbody>
</table>
