.cabecalho{
  /* background-color: black */
}

.menu{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 300px;
  padding-left: 50px;
}

.ativo{
  font-weight: bold;
  text-transform: uppercase;
}

.menu__lista{
  display: flex;
  font-size: 1.25rem;
  padding-right: 50px;
}

.menu__link{
  padding-right: 20px;
  text-decoration: none;
  color: darkblue;
  cursor: pointer;
}

.menu__link:hover{
  /* background-color: yellow; */
  color: yellow ;
  transition: all .5s ease-in-out;
}
