<div class="container darken-2">
    <footer class="page-footer blue-grey darken-2">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Rafael Moreira</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li>
            <a class="white-text" href="https://br.linkedin.com/in/rafael-moreira-gomes" target="_blank">
                <i>LinkedIn</i>
            </a>
        </li>
        <li>
            <a class="white-text" href="https://github.com/moreira89" target="_blank">
                <i>GitHub</i>
            </a>
        </li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright darken-2">
      <div class="container">
      © {{this.year}} Copyright
      </div>
    </div>
  </footer>
</div>
